* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark: #351c75;
    --pink: #bd60e7;
    --text: #fdfafe;
  }

  .head-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
    margin-bottom: 50px;
  }

  .score-link {
    color: var(--pink);
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .title-text {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  /* .title  */
  h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }

  .title-text p {
    text-align: center; 
    font-size: 25px;   
}

.text-aes {
    max-width: 80%;
}

.start-button {
    padding: 5px 10px;
    
    border: 0;
    border-radius: 10px;
    background-color: var(--dark);
    color: var(--text);
    font-size: 25px;
}

.start-button:hover {
    background-color: var(--pink);
}





/* questions */

.questions {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  max-width: 55%;
}

.question-setup {
  margin-bottom: 20px;
}

.all-buttons {
  padding: 10px 15px;
  border: 0;
  border-radius: 8px;
  background-color: var(--dark);
  color: var(--text);
  margin-bottom: 5px;
  font-size: 25px;
  text-align: left;

  
}

.all-buttons:hover {
  background-color: var(--pink);
}


.buttons{
  display: flex;
  flex-direction: column;
  max-width: 25%;

  
}

.verdict-box {
  border-top: 1px solid gray;
  /* display: none; */
}

/* Initials Page */

.initials {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  max-width: 55%;
}

.initials p {
  font-size: 25px;
}

.initials-section {
  padding-bottom: 10px;
  /* border-bottom: 1px solid grey; */
  margin-bottom: 5px;
  max-width: 100%;
}

textarea {
  margin-right: 10px;
}

.initials-entry {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}

.initials-input {
  padding: 5px;
  margin: 0 10px;
}

.submit-button {
  padding: 5px 15px;
  border: 0;
  border-radius: 8px;
  background-color: var(--dark);
  color: var(--text);
  font-size: 20px;
  text-align: left;
}

.submit-button:hover {
  background-color: var(--pink);
}


.verdict {
  color: gray;
  font-style: italic;
  font-size: 30px;
  margin-top: 10px;
}

/* High Scores section */
.high-scores {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  max-width: 55%;
}

.scores-section {
  padding-bottom: 10px;
  /* border-bottom: 1px solid grey; */
  margin-bottom: 5px;
  max-width: 100%;
}

.score-buttons {
  padding: 5px 15px;
  border: 0;
  border-radius: 8px;
  background-color: var(--dark);
  color: var(--text);
  font-size: 20px;
  text-align: left;
}

.score-buttons:hover {
  background-color: var(--pink);
}

#scores-list li {
  background-color: #bd60e7;
}

.invisible {
  display: none;
}

.visible {
  display: flex;    
}
