* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark: #351c75;
    --pink: #bd60e7;
    --text: #fdfafe;
  }

  .head-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
    margin-bottom: 50px;
  }

  .score-link {
    color: var(--pink);
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .title-text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .title h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .title-text p {
    text-align: center;    
}

.text-aes {
    max-width: 80%;
}

.start-button {
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    background-color: var(--dark);
    color: var(--text)
}

.start-button:hover {
    background-color: var(--pink);
}

.visible {
    display: flex;    
}

.invisible {
    display: none;
}

/* questions */

.question-setup {

}

.buttons{
  display: flex;
  flex-direction: column;
  max-width: 10%;
}


